[submodule "deps/dd-trace-cpp"]
	path = deps/dd-trace-cpp
	url = ../dd-trace-cpp.git
[submodule "deps/nginx-datadog"]
	path = deps/nginx-datadog
	url = ../httpd-datadog.git
	branch = mirror-nginx-datadog
